# Server files (not tracked)
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
config/
eula.txt
help.yml
logs/
libraries/
permissions.yml
plugins/
server-errors.ps1
server.properties
spigot.yml
start.bat
usercache.json
version_history.json
versions/
whitelist.json
ops.json

# World folders
super flat/
super flat_nether/
super flat_the_end/

# Server jars
*.jar
cache/

# OS files
Thumbs.db
.DS_Store

# Secrets
secrets.secret
